
h1 {
    text-align: center;
}
body {
    background-color: rgba(22, 42, 131, 0.1);
    margin-top: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Gesamt {
    max-width: 40%;
    display: block;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    border: 1px solid #162a83;
}
.kleines_Bild_1 {
    width: 500px;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 40px;
    max-width: 100%;
}
.kleines_Bild_2 {
    width: 575px;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 40px;
    max-width: 100%;
}
.Fahrerinfo {
    text-align: center;
    background-color: #162a83;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid black;
    border-radius: 30px;
    margin-bottom: 2%;
    max-width: 100%;
}
.Titel {
    margin-top: 10%;
    margin-bottom: 2%;
    font-weight: bold;
}
.Titel2{
    margin-top: 20px;
    margin-bottom: 2%;
    font-weight: bold;
}
.Link {
    color: black;
    text-decoration: none;
}
.Link2 {
  color: black;
}

.container-sm {
  margin: 0 auto;
}
.col-sm-4 {
    padding: 40px;
}
.Impressum {
   margin-left: 30%;
}
.Haftung {
    margin-left: 30%;
    margin-right: 30%;
}
.Datenschutz {
  margin-left: 200px;
  margin-right: 200px;
  text-align: justify;
}
.Logo {
    max-width: 300px;
    padding: 30px;
    border-radius: 40px;
}
.Bilder {
    text-align: center;
}
.email-link {
    color: black;
    text-decoration: none;
  }
  .Kontakt {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
  }
  .Kontaktform {
    text-align: center;
  }
 input {
    width: 100%;
    margin-bottom: 30px;
  }
  label {
    text-align: left;
    margin-bottom: 5px;
  }
  .Kontaktknopf {
    background-color: #162a83;
    color: white;
    border: 2px solid black;
    border-radius: 30px;
    margin-bottom: 2%;
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30%;
    
  }
  .logo {
    max-width: 20%;
  }
  .Stellenanzeige {
    max-width: 50%;
  }
  .Tankwagenreiniger {
    text-align: block;
    padding-left: 50px;
  }
  .flag {
    max-width: 30px;
  }
  .flag2 {
    max-width: 30px;
  }
  .email-link2 {
    display: block;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    max-width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 200px;
  }
  .nav-item {
    padding-left: 50px;
  }
  .AGB {
    margin-left: 200px;
    margin-right: 200px;
    text-align: justify;
}